@use "../foundation" as *;

.c-article {
  &__meta {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #9ca3af;

    time {
      white-space: nowrap;
      font-weight: 500;
      color: #aaa9a9;
    }
  }
  &__categorylist {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__category {
    display: inline-flex;
    align-items: center;
    padding: 0 14px;
    height: 24px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1;
    color: #ffffff;
    background-color: #fbbf24; // デフォルト: 黄色系
    white-space: nowrap;

    &--information {
      background-color: #2cbce0;
    }

    &--news {
      background-color: #ff8688;
    }

    &--campaign {
      background-color: #ecb100;
    }

    &--attempt {
      background-color: #36be4f;
    }
  }
}
