@use "../foundation" as *;

.l-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 345px;
    padding: 20px 0;
    border-radius: 0 0 30px 0px;
    background: $color-white;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    img {
      width: 302px;
      height: 55px;
    }
  }

  &__nav-list {
    display: flex;
    align-items: end;
    gap: 60px;
    padding: 20px 70px 20px 70px;
    border-radius: 0 0 0 30px;
    background: #fff;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    height: 95px;
    @include mq(sp-tab) {
      width: 100%;
      row-gap: 30px;
      align-items: center;
      flex-direction: column;
      height: auto;
      padding: 0;
      box-shadow: none;
      border-radius: 0;
      background: transparent;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    30% {
      transform: translateX(-50%) translateY(-10px) scaleY(1.1);
    }
    50% {
      transform: translateX(-50%) translateY(0) scaleY(0.9);
    }
    70% {
      transform: translateX(-50%) translateY(-3px);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }

  &__logo {
    @include mq(tab) {
      width: 260px;
      img {
        width: 220px;
        height: auto;
      }
    }
    @include mq(sp) {
      width: 200px;
      padding: 10px 15px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  /* ハンバーガーボタンのスタイル */
  &__hamburger {
    &-wrap {
      display: none; // デフォルト（PC）は非表示
      @include mq(sp-tab) {
        padding: 20px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 0 0 0 30px;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
      }
    }

    @include mq(sp-tab) {
      display: block;
      position: relative;
      z-index: 110; // navより上に配置
      width: 30px;
      height: 22px;

      background: none;
      border: none;
      cursor: pointer;
      background-color: #fff;

      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-primary; // テーマカラーに合わせる
        transition: all 0.3s;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }

      // 開いている時のアニメーション
      &.is-open {
        span:nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }

  /* ナビゲーションのタブレット・スマホ調整 */
  &__nav {
    @include mq(sp-tab) {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background: rgba($color-white, 0.98);
      z-index: 100;
      transition: right 0.4s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &.is-open {
        right: 0;
      }
    }
  }

  &__nav-link {
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    transition: color 0.3s;
    position: relative;
    @include mq(sp) {
      padding-top: 0px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 50%;
      transform: translateX(-50%);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
    &:hover {
      color: $color-primary;
      &::before {
        animation: bounce 0.6s ease;
      }
    }

    &.icon-heart {
      &::before {
        width: 15.2px;
        height: 12.52px;
        background-image: url(../img/common/menu-icon01.svg);
      }
    }

    &.icon-check {
      &::before {
        top: -4px;
        width: 17px;
        height: 11.42px;
        background-image: url(../img/common/menu-icon02.svg);
      }
    }

    &.icon-leaf {
      &::before {
        top: -7px;
        width: 19.98px;
        height: 13.15px;
        background-image: url(../img/common/menu-icon03.svg);
      }
    }

    &.icon-bag {
      &::before {
        top: -7px;
        width: 18px;
        height: 14.56px;
        background-image: url(../img/common/menu-icon04.svg);
      }
    }

    &.icon-search {
      &::before {
        top: -5px;
        width: 16px;
        height: 15.07px;
        background-image: url(../img/common/menu-icon05.svg);
      }
    }

    &.icon-pen {
      &::before {
        top: -7px;
        width: 19px;
        height: 17.9px;
        background-image: url(../img/common/menu-icon06.svg);
      }
    }
    @include mq(sp-tab) {
      font-size: 20px;
      padding-top: 0;
      &::before {
        position: absolute;
        top: 50% !important;
        left: -50px !important;
        transform: translateY(-50%);
      }
    }
  }
}
