@use "../foundation" as *;

.l-inner {
  max-width: $layout-width-inner;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  @include mq(tab) {
    padding: 0 30px;
  }

  &--flex {
    display: flex;
    gap: 120px;
  }

  &--left,
  &--right {
    width: 50%;
    position: relative;
    .btn {
      top: 0 !important;
    }
  }
  &--left {
  }
  &--left {
  }
}
